<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glamdring — The Foe-hammer</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<img src="/glamdring.png" alt="Glamdring Background" class="bg-image">

<div class="container">
    <p class="subtitle">Forged in Gondolin</p>

    <div class="divider"></div>

    <p class="lore">
        Turgon King of Gondolin wielded once Glamdring the Foe-hammer
    </p>

    <p class="lore2">
        Foe-hammer? Foe-hammer? The goblins know the sword of Gondolin!
    </p>

</div>

</body>
</html>